In [1]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/sravanneeli/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [2]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [3]:
sid = SentimentIntensityAnalyzer()

In [4]:
a = 'This is a good movie'

In [5]:
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.4404}

In [6]:
txt = "This was the best, most awesome movie EVER MADE!!"

In [7]:
sid.polarity_scores(txt)

{'neg': 0.0, 'neu': 0.433, 'pos': 0.567, 'compound': 0.88}

In [8]:
txt = "This was the WORST movie that has disgraced the screen."
sid.polarity_scores(txt)

{'neg': 0.495, 'neu': 0.505, 'pos': 0.0, 'compound': -0.8331}

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('amazonreviews.tsv', sep='\t')

In [11]:
df['label'].value_counts()

neg    5097
pos    4903
Name: label, dtype: int64

In [12]:
df.dropna(inplace=True)

In [13]:
blanks = []
for i, lb, rv in df.itertuples():
    #(index, label, review)
    if type(rv) == str:
        if rv.isspace():
            blanks.append(i)
blanks

[]

In [14]:
df.drop(blanks, inplace=True)

In [15]:
sid.polarity_scores(df.iloc[0]['review'])

{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'compound': 0.9454}

In [16]:
df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))

In [17]:
df.head()

,label,review,scores
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co..."
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co..."
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com..."
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com..."
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp..."

In [18]:
df['compound'] = df['scores'].apply(lambda d:d['compound'])

In [19]:
df.head()

,label,review,scores,compound
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...",0.9454
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...",0.8957
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...",0.9858
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...",0.9814
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...",0.9781

In [20]:
df['comp_score'] = df['compound'].apply(lambda score: 'pos' if score >= 0 else 'neg')

In [21]:
df['label'].value_counts()

neg    5097
pos    4903
Name: label, dtype: int64

In [22]:
df['comp_score'].value_counts()

pos    6944
neg    3056
Name: comp_score, dtype: int64

In [23]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [24]:
accuracy_score(df['label'], df['comp_score'])

0.7091

In [25]:
print(classification_report(df['label'], df['comp_score']))

              precision    recall  f1-score   support

         neg       0.86      0.51      0.64      5097
         pos       0.64      0.91      0.75      4903

    accuracy                           0.71     10000
   macro avg       0.75      0.71      0.70     10000
weighted avg       0.75      0.71      0.70     10000

In [26]:
print(confusion_matrix(df['label'], df['comp_score']))

[[2622 2475]
 [ 434 4469]]

In [27]:
import numpy as np

In [28]:
df = pd.read_csv('./moviereviews.tsv', sep='\t')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   2000 non-null   object
 1   review  1965 non-null   object
dtypes: object(2)
memory usage: 31.4+ KB

In [30]:
df.dropna(inplace=True)

In [31]:
blanks = []
for i, lb, rv in df.itertuples():
    #(index, label, review)
    if type(rv) == str:
        if rv.isspace():
            blanks.append(i)
# blanks

In [32]:
df.drop(blanks,inplace=True)

In [33]:
df['label'].value_counts()

pos    969
neg    969
Name: label, dtype: int64

In [34]:
df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))
df['compound'] = df['scores'].apply(lambda d: d['compound'])
df['comp_score'] = df['compound'].apply(lambda score: 'pos' if score >= 0 else 'neg')

In [35]:
 df.head()

,label,review,scores,compound,comp_score
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'com...",0.9951,pos
3,pos,according to hollywood movies made in last few...,"{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'co...",0.9972,pos
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'co...",-0.2484,neg

In [36]:
accuracy_score(df['label'], df['comp_score'])

0.6357069143446853

In [37]:
print(classification_report(df['label'], df['comp_score']))

              precision    recall  f1-score   support

         neg       0.72      0.44      0.55       969
         pos       0.60      0.83      0.70       969

    accuracy                           0.64      1938
   macro avg       0.66      0.64      0.62      1938
weighted avg       0.66      0.64      0.62      1938